@charset "UTF-8";
body {
  font-family: Muli;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh !important;
  margin: 0 !important; }

.white {
  color: white !important; }

.template-grid {
  display: grid;
  max-width: 1040px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  background: lightcyan; }

.grid-item {
  height: 20vh;
  background-color: goldenrod; }

.img_topicos {
  display: flex;
  justify-content: center; }

.f-l {
  float: left;
  margin-left: 15px;
  margin-right: 15px; }

.f-r {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.img_topicos img {
  box-shadow: 0px 8px 10px rgba(38, 38, 38, 0.2);
  border-radius: 50%; }

.topicos .row {
  margin-top: 20px;
  margin-bottom: 60px;
  justify-content: center; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Muli" !important; }

h1 {
  font-size: calc(2em + 2vw); }

h2 {
  font-size: calc(2em + 1.5vw); }

h3 {
  font-size: calc(1em + 1.25vw); }

h4 {
  font-size: calc(0.8em + 1.25vw); }

p {
  font-size: calc(0.8em + 0.5vw);
  line-height: calc(1.4em + 0.5vw); }

.text-center {
  text-align: center; }

.content {
  width: 90%;
  max-width: 1920;
  margin: 0 auto; }

.big-paragraph {
  font-size: calc(0.8em + 0.7vw);
  line-height: calc(1.2em + 0.7vw);
  padding-top: 10vh;
  text-align: center; }

/* HEADER */
#header {
  background: linear-gradient(17.97deg, #ff305c 0%, #7427f1 100%);
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  height: 100vh;
  color: white; }

#header .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 3vw;
  padding-top: 15vh; }

#header .left {
  text-align: right;
  padding-top: 4%; }

#header .left h1 {
  font-weight: 100;
  font-size: calc(3rem + 3vw); }

#header .right h1 {
  text-align: left;
  font-weight: 900;
  font-size: calc(3rem + 6vw);
  padding: 2;
  font-weight: 900; }

/* INTRO */
#intro .content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3vw;
  vertical-align: middle; }

#intro .texto {
  padding-right: 5%;
  padding-top: 10%;
  grid-column: 3 / span 5; }

#intro p {
  padding-top: 8%;
  color: #262626; }

#intro .big-paragraph {
  color: #ff305c;
  font-size: calc(0.8em + 1vw); }

#intro .image {
  grid-column: 8 / span 12; }

/* ABRE METODOLOGIA */
#abre-metodologia {
  padding-bottom: 5vh; }

#abre-metodologia .content {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 6%; }

#abre-metodologia h3 {
  font-size: calc(1.5rem + 1vw);
  vertical-align: middle; }

#abre-metodologia .align-right {
  display: grid;
  text-align: right;
  padding-top: 15%;
  font-weight: 900;
  vertical-align: middle;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #00dfec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#abre-metodologia .align-left {
  display: grid;
  padding-top: 15%;
  text-align: left;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #ff305c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#abre-metodologia .image_01 {
  height: 100%;
  width: 50%;
  background: linear-gradient(0deg, #ff305c 0%, #7427f1 100%); }

/* METODOLOGIA */
#metodologia {
  padding-top: 15%;
  background: linear-gradient(0deg, #ff305c 0%, #7427f1 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); }

#metodologia::after {
  content: "";
  height: 200px;
  background: #7427f1;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%; }

#metodologia {
  color: white;
  text-align: center;
  margin: 0 auto; }

#metodologia .intro,
p {
  max-width: 850px;
  margin: 0 auto;
  color: white; }

/* #metodologia .topicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    padding-bottom: 20vh;
 } */
#metodologia .topicos .txt_right p {
  text-align: right;
  color: white; }

.txt_right {
  text-align: right; }

.txt_right,
.txt_left {
  padding-top: 35px; }

#metodologia .topicos .txt_left p {
  text-align: left;
  color: white; }

.topicos .row::after {
  content: " ";
  width: 2px;
  height: 61px;
  background: #ddd;
  margin-left: 0px;
  margin-right: auto;
  position: absolute;
  margin-top: 150px; }

.topicos .row:last-child::after {
  width: 0px; }

/* N├ôS PODEMOS TE AJUDAR */
#podemos-te-ajudar {
  background-color: #ff305c;
  color: white;
  text-align: center;
  margin-top: -40px;
  height: 90vh;
  padding-top: 20vh; }

#podemos-te-ajudar .content {
  margin: 0 auto;
  width: 50%;
  text-align: center; }

#podemos-te-ajudar::after {
  content: "";
  height: 200px;
  background: #262626;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%; }

/* GRUPO EMPREENDEDORES */
#grupo-empreendedores {
  background-color: #262626;
  color: white;
  clip-path: polygon(0 10%, 100% 0, 100% 95%, 0 100%);
  margin-top: -18vh; }

#grupo-empreendedores .content h3 {
  padding: 6%; }

#grupo-empreendedores .content {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%; }

#grupo-empreendedores .grupo-01 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  /* padding-top: 5%; */
  text-align: right;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 40vh; }

#grupo-empreendedores .grupo-01 .image_01 {
  background-image: url("../images/grupo-empreendedores_ilustra01.png");
  height: 100%;
  /* width: 50%; */
  background-repeat: no-repeat;
  background-position: center; }

#grupo-empreendedores .grupo-01 p {
  border-right: solid;
  border-width: thin;
  padding-right: 3%;
  min-height: 200px;
  margin: 0 auto; }

#grupo-empreendedores .grupo-02 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  text-align: left;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 50vh; }

#grupo-empreendedores .grupo-02 .image_02 {
  background-image: url("../images/grupo-empreendedores_ilustra02.png");
  height: 100%;
  width: 99.9%;
  border-right: solid;
  border-width: thin;
  min-height: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center; }

#grupo-empreendedores p {
  margin: 10vh 20px auto; }

/* FECHA INTRO */
#fecha-intro {
  background-color: #ffffff;
  color: #262626;
  width: 50%;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  line-height: 200%;
  height: 60vh;
  padding-bottom: 10vh; }

#fecha-intro p {
  color: 000; }

/* MELHOR CAMINHO */
#melhor-caminho {
  background: linear-gradient(33.3deg, #ff305c 0%, #7427f1 100%);
  height: 100vh;
  color: white;
  display: table-cell;
  vertical-align: middle; }

.melhor-caminho-txt h1 {
  font-size: 6vw;
  line-height: 9vw;
  font-weight: 900;
  padding: 10%;
  margin: 0 auto;
  text-align: left; }

.card {
  width: 90%;
  margin: 0 auto;
  background: white;
  height: 80vh;
  padding-top: 20vh;
  margin-top: 40px;
  line-height: 38px; }

.img-logo {
  width: 250px; }

.card-swiper .row {
  display: flex;
  justify-content: center; }

.scrolling-content {
  background: linear-gradient(145.3deg, #ff305c 0%, #7427f1 100%);
  transition: background 0.5s ease; }

.panel-buttons .btn-prev,
.panel-buttons .btn-next {
  opacity: 0.5; }
  .panel-buttons .btn-prev i,
  .panel-buttons .btn-next i {
    transition: 0.5s; }

.btn-prev:hover, .btn-next:hover {
  opacity: 1.0; }

.action-button {
  margin-top: 10vh;
  transition: all 1s; }

.panel-buttons .btn-prev::after {
  content: "";
  border: 1px solid;
  margin-left: 25px; }
.panel-buttons .btn-next::before {
  content: "";
  margin-right: 25px; }

.btn-next:hover i, .btn-prev:hover i {
  font-size: 30px; }

.panel-buttons {
  margin-top: 0px;
  bottom: 15vh;
  transition: all 1s;
  position: absolute;
  align-content: center;
  right: 40.5vw; }
  @media only screen and (max-width: 1366px) {
    .panel-buttons {
      bottom: 6vh;
      transition: all 1s;
      position: absolute;
      align-content: center;
      right: 38.5vw; } }

.btn-primary {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ff305c;
  font-weight: 900;
  width: 194px;
  height: 43px;
  font-family: "Muli";
  font-style: normal;
  font-size: 20px;
  border: 0px solid;
  margin-top: 4vh;
  transition: 0.5s; }

.btn-primary:hover {
  margin-top: 5vh;
  box-shadow: unset; }

#Builders {
  height: 100vh !important; }
  #Builders .img-logo {
    display: flex;
    justify-content: center;
    width: 25vw; }
  #Builders a, #Builders i {
    color: #7427f1;
    font-size: 30px;
    line-height: 38px;
    font-weight: 800;
    text-align: center;
    line-height: 38px; }
  #Builders p {
    margin-top: 30px;
    font-size: 30px;
    font-weight: normal;
    color: #7427f1; }

body {
  font-family: Muli;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh !important;
  margin: 0 !important; }

.white {
  color: white !important; }

.template-grid {
  display: grid;
  max-width: 1040px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  background: lightcyan; }

.grid-item {
  height: 20vh;
  background-color: goldenrod; }

.img_topicos {
  display: flex;
  justify-content: center; }

.f-l {
  float: left;
  margin-left: 15px;
  margin-right: 15px; }

.f-r {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.img_topicos img {
  box-shadow: 0px 8px 10px rgba(38, 38, 38, 0.2);
  border-radius: 50%; }

.topicos .row {
  margin-top: 20px;
  margin-bottom: 60px;
  justify-content: center; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Muli" !important; }

h1 {
  font-size: calc(2em + 2vw); }

h2 {
  font-size: calc(2em + 1.5vw); }

h3 {
  font-size: calc(1em + 1.25vw); }

h4 {
  font-size: calc(0.8em + 1.25vw); }

p {
  font-size: calc(0.8em + 0.5vw);
  line-height: calc(1.4em + 0.5vw); }

.text-center {
  text-align: center; }

.content {
  width: 90%;
  max-width: 1920;
  margin: 0 auto; }

.big-paragraph {
  font-size: calc(0.8em + 0.7vw);
  line-height: calc(1.2em + 0.7vw);
  padding-top: 10vh;
  text-align: center; }

/* HEADER */
#header {
  background: linear-gradient(17.97deg, #ff305c 0%, #7427f1 100%);
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  height: 100vh;
  color: white; }

#header .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 3vw;
  padding-top: 15vh; }

#header .left {
  text-align: right;
  padding-top: 4%; }

#header .left h1 {
  font-weight: 100;
  font-size: calc(3rem + 3vw); }

#header .right h1 {
  text-align: left;
  font-weight: 900;
  font-size: calc(3rem + 6vw);
  padding: 2;
  font-weight: 900; }

/* INTRO */
#intro .content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3vw;
  vertical-align: middle; }

#intro .texto {
  padding-right: 5%;
  padding-top: 10%;
  grid-column: 3 / span 5; }

#intro p {
  padding-top: 8%;
  color: #262626; }

#intro .big-paragraph {
  color: #ff305c;
  font-size: calc(0.8em + 1vw); }

#intro .image {
  grid-column: 8 / span 12; }

/* ABRE METODOLOGIA */
#abre-metodologia {
  padding-bottom: 5vh; }

#abre-metodologia .content {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 6%; }

#abre-metodologia h3 {
  font-size: calc(1.5rem + 1vw);
  vertical-align: middle; }

#abre-metodologia .align-right {
  display: grid;
  text-align: right;
  padding-top: 15%;
  font-weight: 900;
  vertical-align: middle;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #00dfec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#abre-metodologia .align-left {
  display: grid;
  padding-top: 15%;
  text-align: left;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #ff305c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#abre-metodologia .image_01 {
  height: 100%;
  width: 50%;
  background: linear-gradient(0deg, #ff305c 0%, #7427f1 100%); }

/* METODOLOGIA */
#metodologia {
  padding-top: 15%;
  background: linear-gradient(0deg, #ff305c 0%, #7427f1 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); }

#metodologia::after {
  content: "";
  height: 200px;
  background: #7427f1;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%; }

#metodologia {
  color: white;
  text-align: center;
  margin: 0 auto; }

#metodologia .intro,
p {
  max-width: 850px;
  margin: 0 auto;
  color: white; }

/* #metodologia .topicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    padding-bottom: 20vh;
 } */
#metodologia .topicos .txt_right p {
  text-align: right;
  color: white; }

.txt_right {
  text-align: right; }

.txt_right,
.txt_left {
  padding-top: 35px; }

#metodologia .topicos .txt_left p {
  text-align: left;
  color: white; }

.topicos .row::after {
  content: " ";
  width: 2px;
  height: 61px;
  background: #ddd;
  margin-left: 0px;
  margin-right: auto;
  position: absolute;
  margin-top: 150px; }

.topicos .row:last-child::after {
  width: 0px; }

/* N├ôS PODEMOS TE AJUDAR */
#podemos-te-ajudar {
  background-color: #ff305c;
  color: white;
  text-align: center;
  margin-top: -40px;
  height: 90vh;
  padding-top: 20vh; }

#podemos-te-ajudar .content {
  margin: 0 auto;
  width: 50%;
  text-align: center; }

#podemos-te-ajudar::after {
  content: "";
  height: 200px;
  background: #262626;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%; }

/* GRUPO EMPREENDEDORES */
#grupo-empreendedores {
  background-color: #262626;
  color: white;
  clip-path: polygon(0 10%, 100% 0, 100% 95%, 0 100%);
  margin-top: -18vh; }

#grupo-empreendedores .content h3 {
  padding: 6%; }

#grupo-empreendedores .content {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%; }

#grupo-empreendedores .grupo-01 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  /* padding-top: 5%; */
  text-align: right;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 40vh; }

#grupo-empreendedores .grupo-01 .image_01 {
  background-image: url("../images/grupo-empreendedores_ilustra01.png");
  height: 100%;
  /* width: 50%; */
  background-repeat: no-repeat;
  background-position: center; }

#grupo-empreendedores .grupo-01 p {
  border-right: solid;
  border-width: thin;
  padding-right: 3%;
  min-height: 200px;
  margin: 0 auto; }

#grupo-empreendedores .grupo-02 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  text-align: left;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 50vh; }

#grupo-empreendedores .grupo-02 .image_02 {
  background-image: url("../images/grupo-empreendedores_ilustra02.png");
  height: 100%;
  width: 99.9%;
  border-right: solid;
  border-width: thin;
  min-height: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center; }

#grupo-empreendedores p {
  margin: 10vh 20px auto; }

/* FECHA INTRO */
#fecha-intro {
  background-color: #ffffff;
  color: #262626;
  width: 50%;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  line-height: 200%;
  height: 60vh;
  padding-bottom: 10vh; }

#fecha-intro p {
  color: 000; }

/* MELHOR CAMINHO */
#melhor-caminho {
  background: linear-gradient(33.3deg, #ff305c 0%, #7427f1 100%);
  height: 100vh;
  color: white;
  display: table-cell;
  vertical-align: middle; }

.melhor-caminho-txt h1 {
  font-size: 6vw;
  line-height: 9vw;
  font-weight: 900;
  padding: 10%;
  margin: 0 auto;
  text-align: left; }

.card {
  width: 90%;
  margin: 0 auto;
  background: white;
  height: 80vh;
  padding-top: 20vh;
  margin-top: 40px;
  line-height: 38px; }

.img-logo {
  width: 250px; }

.card-swiper .row {
  display: flex;
  justify-content: center; }

.scrolling-content {
  background: linear-gradient(145.3deg, #ff305c 0%, #7427f1 100%);
  transition: background 0.5s ease; }

.panel-buttons .btn-prev,
.panel-buttons .btn-next {
  opacity: 0.5; }
  .panel-buttons .btn-prev i,
  .panel-buttons .btn-next i {
    transition: 0.5s; }

.btn-prev:hover, .btn-next:hover {
  opacity: 1.0; }

.action-button {
  margin-top: 10vh;
  transition: all 1s; }

.panel-buttons .btn-prev::after {
  content: "";
  border: 1px solid;
  margin-left: 25px; }
.panel-buttons .btn-next::before {
  content: "";
  margin-right: 25px; }

.btn-next:hover i, .btn-prev:hover i {
  font-size: 30px; }

.panel-buttons {
  margin-top: 0px;
  bottom: 15vh;
  transition: all 1s;
  position: absolute;
  align-content: center;
  right: 40.5vw; }
  @media only screen and (max-width: 1366px) {
    .panel-buttons {
      bottom: 6vh;
      transition: all 1s;
      position: absolute;
      align-content: center;
      right: 38.5vw; } }

.btn-primary {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ff305c;
  font-weight: 900;
  width: 194px;
  height: 43px;
  font-family: "Muli";
  font-style: normal;
  font-size: 20px;
  border: 0px solid;
  margin-top: 4vh;
  transition: 0.5s; }

.btn-primary:hover {
  margin-top: 5vh;
  box-shadow: unset; }

#Leaners {
  height: 100vh !important; }
  #Leaners .img-logo {
    display: flex;
    justify-content: center;
    width: 25vw; }
  #Leaners a, #Leaners i {
    color: #00DFEC;
    font-size: 30px;
    line-height: 38px;
    font-weight: 800;
    text-align: center;
    line-height: 38px; }
  #Leaners p {
    margin-top: 30px;
    font-size: 30px;
    font-weight: normal;
    color: #00DFEC; }

body {
  font-family: Muli;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh !important;
  margin: 0 !important; }

.white {
  color: white !important; }

.template-grid {
  display: grid;
  max-width: 1040px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  background: lightcyan; }

.grid-item {
  height: 20vh;
  background-color: goldenrod; }

.img_topicos {
  display: flex;
  justify-content: center; }

.f-l {
  float: left;
  margin-left: 15px;
  margin-right: 15px; }

.f-r {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.img_topicos img {
  box-shadow: 0px 8px 10px rgba(38, 38, 38, 0.2);
  border-radius: 50%; }

.topicos .row {
  margin-top: 20px;
  margin-bottom: 60px;
  justify-content: center; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Muli" !important; }

h1 {
  font-size: calc(2em + 2vw); }

h2 {
  font-size: calc(2em + 1.5vw); }

h3 {
  font-size: calc(1em + 1.25vw); }

h4 {
  font-size: calc(0.8em + 1.25vw); }

p {
  font-size: calc(0.8em + 0.5vw);
  line-height: calc(1.4em + 0.5vw); }

.text-center {
  text-align: center; }

.content {
  width: 90%;
  max-width: 1920;
  margin: 0 auto; }

.big-paragraph {
  font-size: calc(0.8em + 0.7vw);
  line-height: calc(1.2em + 0.7vw);
  padding-top: 10vh;
  text-align: center; }

/* HEADER */
#header {
  background: linear-gradient(17.97deg, #ff305c 0%, #7427f1 100%);
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  height: 100vh;
  color: white; }

#header .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 3vw;
  padding-top: 15vh; }

#header .left {
  text-align: right;
  padding-top: 4%; }

#header .left h1 {
  font-weight: 100;
  font-size: calc(3rem + 3vw); }

#header .right h1 {
  text-align: left;
  font-weight: 900;
  font-size: calc(3rem + 6vw);
  padding: 2;
  font-weight: 900; }

/* INTRO */
#intro .content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3vw;
  vertical-align: middle; }

#intro .texto {
  padding-right: 5%;
  padding-top: 10%;
  grid-column: 3 / span 5; }

#intro p {
  padding-top: 8%;
  color: #262626; }

#intro .big-paragraph {
  color: #ff305c;
  font-size: calc(0.8em + 1vw); }

#intro .image {
  grid-column: 8 / span 12; }

/* ABRE METODOLOGIA */
#abre-metodologia {
  padding-bottom: 5vh; }

#abre-metodologia .content {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 6%; }

#abre-metodologia h3 {
  font-size: calc(1.5rem + 1vw);
  vertical-align: middle; }

#abre-metodologia .align-right {
  display: grid;
  text-align: right;
  padding-top: 15%;
  font-weight: 900;
  vertical-align: middle;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #00dfec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#abre-metodologia .align-left {
  display: grid;
  padding-top: 15%;
  text-align: left;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #ff305c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#abre-metodologia .image_01 {
  height: 100%;
  width: 50%;
  background: linear-gradient(0deg, #ff305c 0%, #7427f1 100%); }

/* METODOLOGIA */
#metodologia {
  padding-top: 15%;
  background: linear-gradient(0deg, #ff305c 0%, #7427f1 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); }

#metodologia::after {
  content: "";
  height: 200px;
  background: #7427f1;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%; }

#metodologia {
  color: white;
  text-align: center;
  margin: 0 auto; }

#metodologia .intro,
p {
  max-width: 850px;
  margin: 0 auto;
  color: white; }

/* #metodologia .topicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    padding-bottom: 20vh;
 } */
#metodologia .topicos .txt_right p {
  text-align: right;
  color: white; }

.txt_right {
  text-align: right; }

.txt_right,
.txt_left {
  padding-top: 35px; }

#metodologia .topicos .txt_left p {
  text-align: left;
  color: white; }

.topicos .row::after {
  content: " ";
  width: 2px;
  height: 61px;
  background: #ddd;
  margin-left: 0px;
  margin-right: auto;
  position: absolute;
  margin-top: 150px; }

.topicos .row:last-child::after {
  width: 0px; }

/* N├ôS PODEMOS TE AJUDAR */
#podemos-te-ajudar {
  background-color: #ff305c;
  color: white;
  text-align: center;
  margin-top: -40px;
  height: 90vh;
  padding-top: 20vh; }

#podemos-te-ajudar .content {
  margin: 0 auto;
  width: 50%;
  text-align: center; }

#podemos-te-ajudar::after {
  content: "";
  height: 200px;
  background: #262626;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%; }

/* GRUPO EMPREENDEDORES */
#grupo-empreendedores {
  background-color: #262626;
  color: white;
  clip-path: polygon(0 10%, 100% 0, 100% 95%, 0 100%);
  margin-top: -18vh; }

#grupo-empreendedores .content h3 {
  padding: 6%; }

#grupo-empreendedores .content {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%; }

#grupo-empreendedores .grupo-01 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  /* padding-top: 5%; */
  text-align: right;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 40vh; }

#grupo-empreendedores .grupo-01 .image_01 {
  background-image: url("../images/grupo-empreendedores_ilustra01.png");
  height: 100%;
  /* width: 50%; */
  background-repeat: no-repeat;
  background-position: center; }

#grupo-empreendedores .grupo-01 p {
  border-right: solid;
  border-width: thin;
  padding-right: 3%;
  min-height: 200px;
  margin: 0 auto; }

#grupo-empreendedores .grupo-02 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  text-align: left;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 50vh; }

#grupo-empreendedores .grupo-02 .image_02 {
  background-image: url("../images/grupo-empreendedores_ilustra02.png");
  height: 100%;
  width: 99.9%;
  border-right: solid;
  border-width: thin;
  min-height: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center; }

#grupo-empreendedores p {
  margin: 10vh 20px auto; }

/* FECHA INTRO */
#fecha-intro {
  background-color: #ffffff;
  color: #262626;
  width: 50%;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  line-height: 200%;
  height: 60vh;
  padding-bottom: 10vh; }

#fecha-intro p {
  color: 000; }

/* MELHOR CAMINHO */
#melhor-caminho {
  background: linear-gradient(33.3deg, #ff305c 0%, #7427f1 100%);
  height: 100vh;
  color: white;
  display: table-cell;
  vertical-align: middle; }

.melhor-caminho-txt h1 {
  font-size: 6vw;
  line-height: 9vw;
  font-weight: 900;
  padding: 10%;
  margin: 0 auto;
  text-align: left; }

.card {
  width: 90%;
  margin: 0 auto;
  background: white;
  height: 80vh;
  padding-top: 20vh;
  margin-top: 40px;
  line-height: 38px; }

.img-logo {
  width: 250px; }

.card-swiper .row {
  display: flex;
  justify-content: center; }

.scrolling-content {
  background: linear-gradient(145.3deg, #ff305c 0%, #7427f1 100%);
  transition: background 0.5s ease; }

.panel-buttons .btn-prev,
.panel-buttons .btn-next {
  opacity: 0.5; }
  .panel-buttons .btn-prev i,
  .panel-buttons .btn-next i {
    transition: 0.5s; }

.btn-prev:hover, .btn-next:hover {
  opacity: 1.0; }

.action-button {
  margin-top: 10vh;
  transition: all 1s; }

.panel-buttons .btn-prev::after {
  content: "";
  border: 1px solid;
  margin-left: 25px; }
.panel-buttons .btn-next::before {
  content: "";
  margin-right: 25px; }

.btn-next:hover i, .btn-prev:hover i {
  font-size: 30px; }

.panel-buttons {
  margin-top: 0px;
  bottom: 15vh;
  transition: all 1s;
  position: absolute;
  align-content: center;
  right: 40.5vw; }
  @media only screen and (max-width: 1366px) {
    .panel-buttons {
      bottom: 6vh;
      transition: all 1s;
      position: absolute;
      align-content: center;
      right: 38.5vw; } }

.btn-primary {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ff305c;
  font-weight: 900;
  width: 194px;
  height: 43px;
  font-family: "Muli";
  font-style: normal;
  font-size: 20px;
  border: 0px solid;
  margin-top: 4vh;
  transition: 0.5s; }

.btn-primary:hover {
  margin-top: 5vh;
  box-shadow: unset; }

#Players {
  height: 100vh !important; }
  #Players .img-logo {
    display: flex;
    justify-content: center;
    width: 25vw; }
  #Players a, #Players i {
    color: #FF305C;
    font-size: 30px;
    line-height: 38px;
    font-weight: 800;
    text-align: center;
    line-height: 38px; }
  #Players p {
    margin-top: 30px;
    font-size: 30px;
    font-weight: normal;
    color: #FF305C; }

.primary-font {
  color: #7427f1; }

/* Ideathon  */
#ideathon {
  display: flex;
  justify-content: center;
  height: 100vh !important;
  padding-top: 10vh; }

#ideathon .card {
  width: 90% !important;
  background: #fff;
  height: 95vh; }

.ideathon .card-swiper img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh; }

#ideathon a, p {
  font-size: 30px;
  line-height: 38px;
  font-weight: 800;
  text-align: center;
  line-height: 38px;
  color: #7427f1; }

.start-jorney {
  margin-top: 5vh; }

#ideathon p {
  font-size: 30px;
  font-weight: normal !important;
  color: #7427f1; }

#ideathon .slick-list .slick-track .card,
img, a, p {
  margin: 0 auto;
  text-align: center;
  color: #7427f1; }

#descricao-ideathon p, #descricao-ideathon a {
  color: #fff;
  font-weight: normal;
  line-height: 160%;
  font-size: 20px; }
  @media only screen and (max-width: 1366px) {
    #descricao-ideathon p, #descricao-ideathon a {
      font-size: 16px;
      line-height: 155%; } }
#descricao-ideathon .row {
  margin-top: 10vh; }
  @media only screen and (max-width: 1366px) {
    #descricao-ideathon .row {
      margin-top: 10vh; } }
@media only screen and (max-width: 1366px) {
  #descricao-ideathon .action-button {
    margin-top: 8vh; } }

.content-align {
  margin-top: -6vh; }

/* ideathon */
body {
  font-family: Muli;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh !important;
  margin: 0 !important; }

.white {
  color: white !important; }

.template-grid {
  display: grid;
  max-width: 1040px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  background: lightcyan; }

.grid-item {
  height: 20vh;
  background-color: goldenrod; }

.img_topicos {
  display: flex;
  justify-content: center; }

.f-l {
  float: left;
  margin-left: 15px;
  margin-right: 15px; }

.f-r {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.img_topicos img {
  box-shadow: 0px 8px 10px rgba(38, 38, 38, 0.2);
  border-radius: 50%; }

.topicos .row {
  margin-top: 20px;
  margin-bottom: 60px;
  justify-content: center; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Muli" !important; }

h1 {
  font-size: calc(2em + 2vw); }

h2 {
  font-size: calc(2em + 1.5vw); }

h3 {
  font-size: calc(1em + 1.25vw); }

h4 {
  font-size: calc(0.8em + 1.25vw); }

p {
  font-size: calc(0.8em + 0.5vw);
  line-height: calc(1.4em + 0.5vw); }

.text-center {
  text-align: center; }

.content {
  width: 90%;
  max-width: 1920;
  margin: 0 auto; }

.big-paragraph {
  font-size: calc(0.8em + 0.7vw);
  line-height: calc(1.2em + 0.7vw);
  padding-top: 10vh;
  text-align: center; }

/* HEADER */
#header {
  background: linear-gradient(17.97deg, #ff305c 0%, #7427f1 100%);
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  height: 100vh;
  color: white; }

#header .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 3vw;
  padding-top: 15vh; }

#header .left {
  text-align: right;
  padding-top: 4%; }

#header .left h1 {
  font-weight: 100;
  font-size: calc(3rem + 3vw); }

#header .right h1 {
  text-align: left;
  font-weight: 900;
  font-size: calc(3rem + 6vw);
  padding: 2;
  font-weight: 900; }

/* INTRO */
#intro .content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3vw;
  vertical-align: middle; }

#intro .texto {
  padding-right: 5%;
  padding-top: 10%;
  grid-column: 3 / span 5; }

#intro p {
  padding-top: 8%;
  color: #262626; }

#intro .big-paragraph {
  color: #ff305c;
  font-size: calc(0.8em + 1vw); }

#intro .image {
  grid-column: 8 / span 12; }

/* ABRE METODOLOGIA */
#abre-metodologia {
  padding-bottom: 5vh; }

#abre-metodologia .content {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 6%; }

#abre-metodologia h3 {
  font-size: calc(1.5rem + 1vw);
  vertical-align: middle; }

#abre-metodologia .align-right {
  display: grid;
  text-align: right;
  padding-top: 15%;
  font-weight: 900;
  vertical-align: middle;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #00dfec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#abre-metodologia .align-left {
  display: grid;
  padding-top: 15%;
  text-align: left;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #ff305c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#abre-metodologia .image_01 {
  height: 100%;
  width: 50%;
  background: linear-gradient(0deg, #ff305c 0%, #7427f1 100%); }

/* METODOLOGIA */
#metodologia {
  padding-top: 15%;
  background: linear-gradient(0deg, #ff305c 0%, #7427f1 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); }

#metodologia::after {
  content: "";
  height: 200px;
  background: #7427f1;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%; }

#metodologia {
  color: white;
  text-align: center;
  margin: 0 auto; }

#metodologia .intro,
p {
  max-width: 850px;
  margin: 0 auto;
  color: white; }

/* #metodologia .topicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    padding-bottom: 20vh;
 } */
#metodologia .topicos .txt_right p {
  text-align: right;
  color: white; }

.txt_right {
  text-align: right; }

.txt_right,
.txt_left {
  padding-top: 35px; }

#metodologia .topicos .txt_left p {
  text-align: left;
  color: white; }

.topicos .row::after {
  content: " ";
  width: 2px;
  height: 61px;
  background: #ddd;
  margin-left: 0px;
  margin-right: auto;
  position: absolute;
  margin-top: 150px; }

.topicos .row:last-child::after {
  width: 0px; }

/* N├ôS PODEMOS TE AJUDAR */
#podemos-te-ajudar {
  background-color: #ff305c;
  color: white;
  text-align: center;
  margin-top: -40px;
  height: 90vh;
  padding-top: 20vh; }

#podemos-te-ajudar .content {
  margin: 0 auto;
  width: 50%;
  text-align: center; }

#podemos-te-ajudar::after {
  content: "";
  height: 200px;
  background: #262626;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%; }

/* GRUPO EMPREENDEDORES */
#grupo-empreendedores {
  background-color: #262626;
  color: white;
  clip-path: polygon(0 10%, 100% 0, 100% 95%, 0 100%);
  margin-top: -18vh; }

#grupo-empreendedores .content h3 {
  padding: 6%; }

#grupo-empreendedores .content {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%; }

#grupo-empreendedores .grupo-01 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  /* padding-top: 5%; */
  text-align: right;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 40vh; }

#grupo-empreendedores .grupo-01 .image_01 {
  background-image: url("../images/grupo-empreendedores_ilustra01.png");
  height: 100%;
  /* width: 50%; */
  background-repeat: no-repeat;
  background-position: center; }

#grupo-empreendedores .grupo-01 p {
  border-right: solid;
  border-width: thin;
  padding-right: 3%;
  min-height: 200px;
  margin: 0 auto; }

#grupo-empreendedores .grupo-02 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  text-align: left;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 50vh; }

#grupo-empreendedores .grupo-02 .image_02 {
  background-image: url("../images/grupo-empreendedores_ilustra02.png");
  height: 100%;
  width: 99.9%;
  border-right: solid;
  border-width: thin;
  min-height: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center; }

#grupo-empreendedores p {
  margin: 10vh 20px auto; }

/* FECHA INTRO */
#fecha-intro {
  background-color: #ffffff;
  color: #262626;
  width: 50%;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  line-height: 200%;
  height: 60vh;
  padding-bottom: 10vh; }

#fecha-intro p {
  color: 000; }

/* MELHOR CAMINHO */
#melhor-caminho {
  background: linear-gradient(33.3deg, #ff305c 0%, #7427f1 100%);
  height: 100vh;
  color: white;
  display: table-cell;
  vertical-align: middle; }

.melhor-caminho-txt h1 {
  font-size: 6vw;
  line-height: 9vw;
  font-weight: 900;
  padding: 10%;
  margin: 0 auto;
  text-align: left; }

.card {
  width: 90%;
  margin: 0 auto;
  background: white;
  height: 80vh;
  padding-top: 20vh;
  margin-top: 40px;
  line-height: 38px; }

.img-logo {
  width: 250px; }

.card-swiper .row {
  display: flex;
  justify-content: center; }

.scrolling-content {
  background: linear-gradient(145.3deg, #ff305c 0%, #7427f1 100%);
  transition: background 0.5s ease; }

.panel-buttons .btn-prev,
.panel-buttons .btn-next {
  opacity: 0.5; }
  .panel-buttons .btn-prev i,
  .panel-buttons .btn-next i {
    transition: 0.5s; }

.btn-prev:hover, .btn-next:hover {
  opacity: 1.0; }

.action-button {
  margin-top: 10vh;
  transition: all 1s; }

.panel-buttons .btn-prev::after {
  content: "";
  border: 1px solid;
  margin-left: 25px; }
.panel-buttons .btn-next::before {
  content: "";
  margin-right: 25px; }

.btn-next:hover i, .btn-prev:hover i {
  font-size: 30px; }

.panel-buttons {
  margin-top: 0px;
  bottom: 15vh;
  transition: all 1s;
  position: absolute;
  align-content: center;
  right: 40.5vw; }
  @media only screen and (max-width: 1366px) {
    .panel-buttons {
      bottom: 6vh;
      transition: all 1s;
      position: absolute;
      align-content: center;
      right: 38.5vw; } }

.btn-primary {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ff305c;
  font-weight: 900;
  width: 194px;
  height: 43px;
  font-family: "Muli";
  font-style: normal;
  font-size: 20px;
  border: 0px solid;
  margin-top: 4vh;
  transition: 0.5s; }

.btn-primary:hover {
  margin-top: 5vh;
  box-shadow: unset; }

#Justice {
  height: 100vh !important; }
  #Justice .img-logo {
    display: flex;
    justify-content: center;
    width: 25vw; }
  #Justice a, #Justice i {
    color: #262626;
    font-size: 30px;
    line-height: 38px;
    font-weight: 800;
    text-align: center;
    line-height: 38px; }
  #Justice p {
    margin-top: 30px;
    font-size: 30px;
    font-weight: normal;
    color: #262626; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-prev, .slick-next {
  display: none; }

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 85%;
  left: unset !important;
  margin: 0 auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  font-family: Muli;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh !important;
  margin: 0 !important; }

.white {
  color: white !important; }

.template-grid {
  display: grid;
  max-width: 1040px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  background: lightcyan; }

.grid-item {
  height: 20vh;
  background-color: goldenrod; }

.img_topicos {
  display: flex;
  justify-content: center; }

.f-l {
  float: left;
  margin-left: 15px;
  margin-right: 15px; }

.f-r {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.img_topicos img {
  box-shadow: 0px 8px 10px rgba(38, 38, 38, 0.2);
  border-radius: 50%; }

.topicos .row {
  margin-top: 20px;
  margin-bottom: 60px;
  justify-content: center; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Muli" !important; }

h1 {
  font-size: calc(2em + 2vw); }

h2 {
  font-size: calc(2em + 1.5vw); }

h3 {
  font-size: calc(1em + 1.25vw); }

h4 {
  font-size: calc(0.8em + 1.25vw); }

p {
  font-size: calc(0.8em + 0.5vw);
  line-height: calc(1.4em + 0.5vw); }

.text-center {
  text-align: center; }

.content {
  width: 90%;
  max-width: 1920;
  margin: 0 auto; }

.big-paragraph {
  font-size: calc(0.8em + 0.7vw);
  line-height: calc(1.2em + 0.7vw);
  padding-top: 10vh;
  text-align: center; }

/* HEADER */
#header {
  background: linear-gradient(17.97deg, #ff305c 0%, #7427f1 100%);
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  height: 100vh;
  color: white; }

#header .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 3vw;
  padding-top: 15vh; }

#header .left {
  text-align: right;
  padding-top: 4%; }

#header .left h1 {
  font-weight: 100;
  font-size: calc(3rem + 3vw); }

#header .right h1 {
  text-align: left;
  font-weight: 900;
  font-size: calc(3rem + 6vw);
  padding: 2;
  font-weight: 900; }

/* INTRO */
#intro .content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3vw;
  vertical-align: middle; }

#intro .texto {
  padding-right: 5%;
  padding-top: 10%;
  grid-column: 3 / span 5; }

#intro p {
  padding-top: 8%;
  color: #262626; }

#intro .big-paragraph {
  color: #ff305c;
  font-size: calc(0.8em + 1vw); }

#intro .image {
  grid-column: 8 / span 12; }

/* ABRE METODOLOGIA */
#abre-metodologia {
  padding-bottom: 5vh; }

#abre-metodologia .content {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 6%; }

#abre-metodologia h3 {
  font-size: calc(1.5rem + 1vw);
  vertical-align: middle; }

#abre-metodologia .align-right {
  display: grid;
  text-align: right;
  padding-top: 15%;
  font-weight: 900;
  vertical-align: middle;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #00dfec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#abre-metodologia .align-left {
  display: grid;
  padding-top: 15%;
  text-align: left;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #ff305c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#abre-metodologia .image_01 {
  height: 100%;
  width: 50%;
  background: linear-gradient(0deg, #ff305c 0%, #7427f1 100%); }

/* METODOLOGIA */
#metodologia {
  padding-top: 15%;
  background: linear-gradient(0deg, #ff305c 0%, #7427f1 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); }

#metodologia::after {
  content: "";
  height: 200px;
  background: #7427f1;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%; }

#metodologia {
  color: white;
  text-align: center;
  margin: 0 auto; }

#metodologia .intro,
p {
  max-width: 850px;
  margin: 0 auto;
  color: white; }

/* #metodologia .topicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    padding-bottom: 20vh;
 } */
#metodologia .topicos .txt_right p {
  text-align: right;
  color: white; }

.txt_right {
  text-align: right; }

.txt_right,
.txt_left {
  padding-top: 35px; }

#metodologia .topicos .txt_left p {
  text-align: left;
  color: white; }

.topicos .row::after {
  content: " ";
  width: 2px;
  height: 61px;
  background: #ddd;
  margin-left: 0px;
  margin-right: auto;
  position: absolute;
  margin-top: 150px; }

.topicos .row:last-child::after {
  width: 0px; }

/* N├ôS PODEMOS TE AJUDAR */
#podemos-te-ajudar {
  background-color: #ff305c;
  color: white;
  text-align: center;
  margin-top: -40px;
  height: 90vh;
  padding-top: 20vh; }

#podemos-te-ajudar .content {
  margin: 0 auto;
  width: 50%;
  text-align: center; }

#podemos-te-ajudar::after {
  content: "";
  height: 200px;
  background: #262626;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%; }

/* GRUPO EMPREENDEDORES */
#grupo-empreendedores {
  background-color: #262626;
  color: white;
  clip-path: polygon(0 10%, 100% 0, 100% 95%, 0 100%);
  margin-top: -18vh; }

#grupo-empreendedores .content h3 {
  padding: 6%; }

#grupo-empreendedores .content {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%; }

#grupo-empreendedores .grupo-01 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  /* padding-top: 5%; */
  text-align: right;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 40vh; }

#grupo-empreendedores .grupo-01 .image_01 {
  background-image: url("../images/grupo-empreendedores_ilustra01.png");
  height: 100%;
  /* width: 50%; */
  background-repeat: no-repeat;
  background-position: center; }

#grupo-empreendedores .grupo-01 p {
  border-right: solid;
  border-width: thin;
  padding-right: 3%;
  min-height: 200px;
  margin: 0 auto; }

#grupo-empreendedores .grupo-02 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  text-align: left;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 50vh; }

#grupo-empreendedores .grupo-02 .image_02 {
  background-image: url("../images/grupo-empreendedores_ilustra02.png");
  height: 100%;
  width: 99.9%;
  border-right: solid;
  border-width: thin;
  min-height: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center; }

#grupo-empreendedores p {
  margin: 10vh 20px auto; }

/* FECHA INTRO */
#fecha-intro {
  background-color: #ffffff;
  color: #262626;
  width: 50%;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  line-height: 200%;
  height: 60vh;
  padding-bottom: 10vh; }

#fecha-intro p {
  color: 000; }

/* MELHOR CAMINHO */
#melhor-caminho {
  background: linear-gradient(33.3deg, #ff305c 0%, #7427f1 100%);
  height: 100vh;
  color: white;
  display: table-cell;
  vertical-align: middle; }

.melhor-caminho-txt h1 {
  font-size: 6vw;
  line-height: 9vw;
  font-weight: 900;
  padding: 10%;
  margin: 0 auto;
  text-align: left; }

.card {
  width: 90%;
  margin: 0 auto;
  background: white;
  height: 80vh;
  padding-top: 20vh;
  margin-top: 40px;
  line-height: 38px; }

.img-logo {
  width: 250px; }

.card-swiper .row {
  display: flex;
  justify-content: center; }

.scrolling-content {
  background: linear-gradient(145.3deg, #ff305c 0%, #7427f1 100%);
  transition: background 0.5s ease; }

.panel-buttons .btn-prev,
.panel-buttons .btn-next {
  opacity: 0.5; }
  .panel-buttons .btn-prev i,
  .panel-buttons .btn-next i {
    transition: 0.5s; }

.btn-prev:hover, .btn-next:hover {
  opacity: 1.0; }

.action-button {
  margin-top: 10vh;
  transition: all 1s; }

.panel-buttons .btn-prev::after {
  content: "";
  border: 1px solid;
  margin-left: 25px; }
.panel-buttons .btn-next::before {
  content: "";
  margin-right: 25px; }

.btn-next:hover i, .btn-prev:hover i {
  font-size: 30px; }

.panel-buttons {
  margin-top: 0px;
  bottom: 15vh;
  transition: all 1s;
  position: absolute;
  align-content: center;
  right: 40.5vw; }
  @media only screen and (max-width: 1366px) {
    .panel-buttons {
      bottom: 6vh;
      transition: all 1s;
      position: absolute;
      align-content: center;
      right: 38.5vw; } }

.btn-primary {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ff305c;
  font-weight: 900;
  width: 194px;
  height: 43px;
  font-family: "Muli";
  font-style: normal;
  font-size: 20px;
  border: 0px solid;
  margin-top: 4vh;
  transition: 0.5s; }

.btn-primary:hover {
  margin-top: 5vh;
  box-shadow: unset; }

.img-topbottom {
  animation-duration: 2s;
  animation-name: moveTop;
  animation-iteration-count: infinite; }

@keyframes moveTop {
  0% {
    top: 90vh; }
  25% {
    top: 88vh; }
  50% {
    top: 90vh; }
  75% {
    top: 88vh; }
  100% {
    top: 90vh; } }
@keyframes before_after {
  0% {
    margin-left: 0px; }
  25% {
    margin-left: 5px; }
  50% {
    margin-left: 10px; }
  75% {
    margin-left: 5px; }
  100% {
    margin-left: 0px; } }

/*# sourceMappingURL=style.css.map */
