.img-topbottom{
    animation-duration: 2s;
    animation-name: moveTop;
    animation-iteration-count: infinite;
}



@keyframes moveTop {
    0%   {top: 90vh;}
    25%  {top: 88vh;}
    50%  {top: 90vh;}
    75%  {top: 88vh;}
    100% {top: 90vh;}
}

@keyframes before_after {
    0%  {margin-left: 0px}
    25% {margin-left: 5px}
    50% {margin-left: 10px}
    75% {margin-left: 5px;}
    100%{margin-left: 0px}
}