@import 'Custom.scss';
$primary-color: rgb(116, 39, 241);
 
.builders-color{
    color: $primary-color!important;
    i{
        color: $primary-color!important;
    }
}

#Builders{
    height: 110vh!important;
    // padding-top: 10vh;
    .img-logo{
        @include justify-center;
        width: 25vw;
    }

}