$primary: #ff305c;

@mixin justify-center {
  display: flex;
  justify-content: center;
}


@mixin btn-padrao {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 900;
  width: 194px;
  height: 43px;
  font-family: "Muli";
  font-style: normal;
  font-size: 20px;
  border: 0px solid;
  margin-top: 4vh;
  transition: 0.5s;
}

@mixin btn-hover {
  margin-top: 5vh;
  box-shadow: unset;
}

.first-content {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  p {
    font-weight: normal;
  }
  a {
    font-weight: bold;
  }
}


body {
  font-family: Muli;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh !important;
  margin: 0 !important;
  // background: linear-gradient(17.97deg, #ff305c 0%, #7427f1 100%);
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Muli" !important;
}

h1 {
  font-size: calc(2em + 2vw);
}

h2 {
  font-size: calc(2em + 1.5vw);
}

h3 {
  font-size: calc(1em + 1.25vw);
}

h4 {
  font-size: calc(0.8em + 1.25vw);
}

p {
  font-size: calc(0.8em + 0.5vw);
  line-height: calc(1.4em + 0.5vw);
}




/* HEADER */

#header {
  background: linear-gradient(17.97deg, $primary 0%, #7427f1 100%);
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  height: 100vh;
  color: white;
}

#header .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 3vw;
  padding-top: 15vh;
}

#header .left {
  text-align: right;
  padding-top: 4%;
}

#header .left h1 {
  font-weight: 100;
  font-size: calc(3rem + 3vw);
}

#header .right h1 {
  text-align: left;
  font-weight: 900;
  font-size: calc(3rem + 6vw);
  padding: 2;
  font-weight: 900;
}

/* INTRO */

#intro{
  height: auto!important;
}

.texto p{
  text-align: left;
}

#intro .content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3vw;
  vertical-align: middle;
}

#intro .texto {
  padding-right: 5%;
  padding-top: 10%;
  grid-column: 3 / span 5;
}

#intro p {
  padding-top: 8%;
  color: #262626;
}

#intro .big-paragraph {
  color: $primary;
  font-size: calc(0.8em + 1vw);
}

#intro .image {
  grid-column: 8 / span 12;
}

/* ABRE METODOLOGIA */

#abre-metodologia {
  padding-bottom: 5vh;
}

#abre-metodologia .content {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 6%;
}

#abre-metodologia h3 {
  font-size: calc(1.5rem + 1vw);
  vertical-align: middle;
}

#abre-metodologia .align-right {
  display: grid;
  text-align: right;
  padding-top: 15%;
  font-weight: 900;
  vertical-align: middle;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, #00dfec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#abre-metodologia .align-left {
  display: grid;
  padding-top: 15%;
  text-align: left;
  color: white;
  background: -webkit-linear-gradient(top, #7427f1, $primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#abre-metodologia .image_01 {
  height: 100%;
  width: 50%;
  background: linear-gradient(0deg, $primary 0%, #7427f1 100%);
}

/* METODOLOGIA */

#metodologia {
  padding-top: 15%;
  background: linear-gradient(0deg, $primary 0%, #7427f1 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}

#metodologia::after {
  content: "";
  height: 200px;
  background: #7427f1;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%;
}

#metodologia {
  color: white;
  text-align: center;
  margin: 0 auto;
}

#metodologia .intro,
p {
  max-width: 850px;
  margin: 0 auto;
  // color: white;
}

 

#metodologia .topicos .txt_right p {
  text-align: right;
  color: white;
}

.txt_right {
  text-align: right;
}

.txt_right,
.txt_left {
  padding-top: 35px;
}

#metodologia .topicos .txt_left p {
  text-align: left;
  color: white;
}

.topicos .row::after {
  content: " ";
  width: 2px;
  height: 61px;
  background: #ddd;
  margin-left: 0px;
  margin-right: auto;
  position: absolute;
  margin-top: 150px;
}

.topicos .row:last-child::after {
  width: 0px;
}

/* NÓS PODEMOS TE AJUDAR */

#podemos-te-ajudar {
  background-color: $primary;
  color: white;
  text-align: center;
  margin-top: -40px;
  height: 90vh;
  padding-top: 20vh;
}

#podemos-te-ajudar .content {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#podemos-te-ajudar::after {
  content: "";
  height: 200px;
  background: #262626;
  clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  -webkit-clip-path: polygon(0% 45%, 100% 45%, 100% 0%);
  bottom: 0px;
  width: 100%;
}

/* GRUPO EMPREENDEDORES */

#grupo-empreendedores {
  background-color: #262626;
  color: white;
  clip-path: polygon(0 10%, 100% 0, 100% 95%, 0 100%);
  margin-top: -18vh;
}

#grupo-empreendedores .content h3 {
  padding: 6%;
}

#grupo-empreendedores .content {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
}

#grupo-empreendedores .grupo-01 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  /* padding-top: 5%; */
  text-align: right;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 40vh;
}

#grupo-empreendedores .grupo-01 .image_01 {
  background-image: url("../images/grupo-empreendedores_ilustra01.png");
  height: 100%;
  /* width: 50%; */
  background-repeat: no-repeat;
  background-position: center;
}

#grupo-empreendedores .grupo-01 p {
  border-right: solid;
  border-width: thin;
  padding-right: 3%;
  min-height: 200px;
  margin: 0 auto;
}

#grupo-empreendedores .grupo-02 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  text-align: left;
  color: #00dfec;
  font-weight: lighter;
  font-size: calc(1rem + 0.3vw);
  border: #00dfec;
  height: 50vh;
}

#grupo-empreendedores .grupo-02 .image_02 {
  background-image: url("../images/grupo-empreendedores_ilustra02.png");
  height: 100%;
  width: 99.9%;
  border-right: solid;
  border-width: thin;
  min-height: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}

#grupo-empreendedores p {
  margin: 10vh 20px auto;
}

/* FECHA INTRO */

#fecha-intro {
  background-color: #ffffff;
  color: #262626;
  width: 42%;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  line-height: 200%;
  height: 70vh;
  padding-bottom: 10vh;
}

#fecha-intro p {
  color: 000;
}

/* MELHOR CAMINHO */

#melhor-caminho {
  background: linear-gradient(33.3deg, $primary 0%, #7427f1 100%);
  height: 100vh;
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.melhor-caminho-txt h1 {
  font-size: 6vw;
  line-height: 9vw;
  font-weight: 900;
  padding: 10%;
  margin: 0 auto;
  text-align: left;
}

// Conteudo geral swiper
.card {
  width: 90%;
  margin: 0 auto;
  background: white;
  height: 80vh;
  padding-top: 20vh;
  margin-top: 40px;
  line-height: 38px;
}

.img-logo {
  width: 250px;
}

.justify-center{
  @include justify-center;
}

.card-swiper .row {
  display: flex;
  justify-content: center;
}
// Scrolling  css default
.scrolling-content {
  background: linear-gradient(145.3deg, $primary 0%, #7427f1 100%);
  transition: background 0.5s ease;
}

// Botões --
.panel-buttons {
  .btn-prev,
  .btn-next {
    opacity: 0.5;
    i {
      transition: 0.5s;
    }
  }
}

.btn-prev:hover,
.btn-next:hover,
.btn-start:hover {
  opacity: 1;
  i {
    font-size: 25px;
  }
}

.finish .btn-next:hover i {
  transform: rotate(270deg);
}

#f-ideathon .action-button .btn-next i {
  font-size: 30px;
}

.action-button {
 
  transition: all 1s;
}

.panel-buttons {
  .btn-prev::after {
    content: "";
    border: 1px solid;
    margin-left: 25px;
  }

  .btn-next::before {
    content: "";
    // border:1px solid;
    margin-right: 25px;
  }
  .btn-start::before {
    content: "";
    margin-right: 25px;
  }
}

// .btn-next:hover i, .btn-prev:hover i, .btn-start:hover i {
//   font-size: 20px;
// }

.panel-buttons {
 
  bottom: 10vh;
  transition: all 1s;
  position: absolute;
  align-content: center;
  width: 100%;
  
  @media only screen and (max-width: 1366px) {
    bottom: 15vh;
    transition: all 1s;
    position: absolute;
    align-content: center;
   
  }
}

.finish {
  bottom: -13vh;
  transition: all 1s;
  position: absolute;
  width: 100%;
  align-content: center;
 
 
}

.btn-primary {
  background: #ffffff;
  color: $primary;
  @include btn-padrao;
 
}


.btn-reverse{
  background: #F11242;
  color: #fff;
  @include btn-padrao;
  width: 255px;
 
}

.btn-builder{
  background: #fff;
  color: #7427F1;
  @include btn-padrao;
  width: 255px;
 
}


.btn-reverse:hover{
  @include btn-hover();
}

.btn-primary:hover {
  @include btn-hover();
}

.btn-builder:hover{
  @include btn-hover();
}

 .black-text{
   color: #000!important;
 }

.descricao-swiper {

  p,
  a {
    color: #fff;
    font-weight: normal;
    line-height: 160%;
    font-size: 20px;
    @media only screen and (max-width: 1366px) {
      font-size: 16px;
      line-height: 155%;
    }
  }

  .img-logo , .little-logo{
    margin-top: 7vh;
}
  .row {
    margin-top: 10vh;
    @media only screen and (max-width: 1366px) {
      margin-top: 7vh;
    }
  }

}

.content-align {
  margin-top: -3vh !important;
}


.mt-10{
  margin-top: 10px;
}

.m-30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.div-open {
  display: none;
  text-align: center;
  margin-top: 5vh;
}

.div-open1 {
  display: none;
  text-align: center;
  margin-top: 5vh;
}
.img-logo {
  @include justify-center;
  width: 25vw;
}

.little-logo{
  @include justify-center;
  width: 15vw;
}

#SparkstartLeaners{
    .panel-buttons{
      bottom: -20vh;
    }
}

.last-page{
    .finish{
      bottom:-40vh;
    }
}


// Util 


.text-center {
  text-align: center;
}

.content {
  width: 90%;
  max-width: 1920;
  margin: 0 auto;
}

.big-paragraph {
  font-size: calc(0.9em + 0.8vw);
  line-height: calc(1.2em + 0.7vw);
  padding-top: 10vh;
  text-align: center;
}

.white {
  color: white !important;
}

// Padrão font

.template-grid {
  display: grid;
  max-width: 1040px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  background: lightcyan;
}

.grid-item {
  height: 20vh;
  background-color: goldenrod;
}

.img_topicos {
  display: flex;
  justify-content: center;
}

.f-l {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.f-r {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.img_topicos img {
  box-shadow: 0px 8px 10px rgba(38, 38, 38, 0.2);
  border-radius: 50%;
}

.topicos .row {
  margin-top: 20px;
  margin-bottom: 60px;
  justify-content: center;
}

.start-jorney {
  margin-top: 5vh;
}

// Util 



#fechamento{
  height: 100vh;
  color: white;
   h3{
     font-weight: 200;
     line-height: 46px;
   }

   div{
     margin-top: 30vh;
   }
}