@import 'Custom.scss';
$primary-color: #262626;

#Justice{
    height: 100vh!important;
   
    .img-logo{
        @include justify-center;
        width: 25vw;
    }
    a, i{
        color: $primary-color;
        font-size: 30px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        line-height: 38px;
    }
    p{
        margin-top: 30px;
        font-size: 30px;
        font-weight: normal;
        color: $primary-color
    }
}