@import 'Custom.scss';
$primary-color: #00DFEC;


.Leaners-font{
    color: $primary-color!important;
    i{
        color: $primary-color!important;
    }
}

#Leaners{
    display: flex;
    justify-content: center;
    height: 110vh!important;
    padding-top: 10vh;
   
    .card {
        width: 90% !important;
        background: #fff;
        height: 95vh;
      }


}

